In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.nonparametric.smoothers_lowess import lowess
from pykalman import KalmanFilter
from scipy import signal
import math
import numpy as np

/var/folders/qx/dv5zms194lj0k025kmnl22jh0000gn/T/ipykernel_24776/3226477053.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
def read_data(file):
        data = pd.read_csv(file)
        data=data.dropna()
        data=data.rename(columns= {'ax': 'AccelerationX', 'ay': 'AccelerationY', 'az': 'AccelerationZ', 'atotal': 'NetAcceleration'})
        data = data[ (data['time'] >= 10) & (data['time'] <= 80) ]
        return data

In [3]:
data = read_data('Data/Male-1-right-hand.csv')
data

           time  AccelerationX  AccelerationY  AccelerationZ  NetAcceleration
992   10.013857          -0.31          -0.90          -1.13             1.47
993   10.016249          -0.33          -0.84          -1.17             1.47
994   10.026328          -0.35          -0.80          -1.17             1.45
995   10.038723          -0.42          -0.79          -1.21             1.50
996   10.046585          -0.60          -0.87          -1.29             1.66
...         ...            ...            ...            ...              ...
7930  79.952736           0.56          -1.41          -1.18             1.92
7931  79.960708          -0.08          -1.15          -2.87             3.09
7932  79.970775          -0.37          -0.86          -3.87             3.98
7933  79.989731          -0.38          -0.72          -4.21             4.28
7934  79.992205          -0.15          -0.66          -3.66             3.72

[6943 rows x 5 columns]